#!/usr/bin/env python
PACKAGE = "gui"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# gui

gen.add("ratio", double_t, 0, "", 0, 0.0, 1.0)

exit(gen.generate(PACKAGE, "gui", "gui"))
